server:
  port: 3344

spring:
  application:
    name: cloud-config-center
  cloud:
    config:
      server:
        git:
          uri: git@github.com:luo202/SpringCloud-Config.git #github上面的git仓库名字
          #搜索目录
          search-paths:
            - SpringCloud-Config
      #读取分支
      label: master
#服务注册到eureka
eureka:
  client:
    service-url:
      defaultZone: http://localhost:7001/eureka